<h1>NEW IDEA TIME</h1>
<%= current_user.name %>

<%= form_for(@idea) do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :text %><br>
  <%= f.text_field :text %><br>
  <%= f.hidden_field :user_id %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <%= f.submit %>

<% end %>
