<% @ideas.each do |idea| %>
  <h2><%= idea.title %></h2>
  <%= idea.text %></br>
  <%= idea.category.name %></br>
  <%= link_to "Edit", edit_idea_path(idea) %><br>
  <%= link_to "Destroy", idea, method: :delete %>
<% end %>

<p><%= link_to "Create New Idea", new_idea_path %></p>
